.roomsList-breadcrumb {
  margin: 51px 0 30px 0;
  padding: 30px 0;
  background-color: #f6f6f6;
  position: relative; }
  .roomsList-breadcrumb h1 {
    font-size: 16px;
    margin-bottom: 0;
    font-weight: 700;
    line-height: 20px;
    color: #000; }

.rooms {
  padding-bottom: 20px; }
  .rooms h1 {
    font-size: 25px;
    line-height: 34px;
    color: #000;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }
    .rooms h1:hover {
      color: #c59d5f; }
  .rooms__nav {
    padding: 20px 0; }
    .rooms__nav a {
      color: #1e1e1e;
      -webkit-transition: 0.3s ease-in-out;
      -moz-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;
      padding: 0 10px; }
      .rooms__nav a:hover {
        color: #c59d5f; }
  .rooms__img {
    position: relative; }
    .rooms__img:hover .rooms__hover {
      opacity: 1; }
  .rooms__content {
    padding: 20px 0; }
  .rooms__hover {
    position: absolute;
    color: #fff;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #1e1e1e66;
    opacity: 0;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }
  .rooms__hover-flex {
    text-align: center; }
  .rooms__line {
    background-color: #1e1e1e;
    height: 2px;
    width: 100px; }
  .rooms p.rooms__padding {
    margin: 15px 0; }
  .rooms button {
    border: none;
    padding: 10px 25px;
    color: #fff;
    background-color: #ffb400;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }
    .rooms button:hover {
      background-color: #c59d5f; }

.rooms-filter {
  background-color: #333132;
  padding-bottom: 20px;
  margin-top: 67px; }
  .rooms-filter h1 {
    padding: 27px 0;
    margin: 0 0 19px;
    color: #fff;
    border-bottom: 1px solid #555;
    text-align: center;
    font-size: 16px; }
  .rooms-filter__list {
    padding: 0 15px;
    margin-bottom: 7px; }
  .rooms-filter__chooseList {
    padding: 0 15px;
    margin-bottom: 15px; }
    .rooms-filter__chooseList label {
      font-size: 13px;
      cursor: pointer; }
    .rooms-filter__chooseList select,
    .rooms-filter__chooseList input {
      width: 100%;
      height: 46px;
      background-color: transparent;
      color: #999;
      text-indent: 10px;
      border: 1px solid #555; }
    .rooms-filter__chooseList span.rooms-calendar {
      position: relative; }
      .rooms-filter__chooseList span.rooms-calendar::after {
        position: absolute;
        position: absolute;
        bottom: -3px;
        right: 11px;
        font-family: "Font Awesome 5 Pro";
        z-index: 0;
        content: "\f073";
        font-size: 20px;
        color: #c59d5f; }
  .rooms-filter__children {
    padding: 0 15px;
    margin-bottom: 15px; }
    .rooms-filter__children select {
      width: 100%;
      height: 46px;
      background-color: transparent;
      color: #999;
      text-indent: 10px;
      border: 1px solid #555; }
  .rooms-filter__children-item {
    width: 48%; }

.rooms-priceRange {
  padding: 0 15px;
  margin-bottom: 15px; }
  .rooms-priceRange input {
    width: 100%; }

.rooms-btn {
  padding: 0 15px; }
  .rooms-btn button {
    border: none;
    width: 100%;
    padding: 10px 25px;
    color: #fff;
    background-color: #ffb400;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }
    .rooms-btn button:hover {
      background-color: #c59d5f; }

/*# sourceMappingURL=roomsList.css.map */
