@import "./mixin.scss";

html {
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Nunito Sans", sans-serif;
  color: #999;
  font-size: 15px;
  line-height: 27px;
  font-weight: 400;
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  &:focus {
    outline: none;
  }
}
ul {
  list-style: none;
  margin-bottom: 0;
}
img {
  width: 100%;
  &:focus {
    outline: none;
  }
}

p {
  margin-bottom: 0;
}
input:focus,
button:focus {
  outline: none;
}

// for header ---------------------------------->
#logo-home-2 {
  display: none;
}
.header {
  background-color: $main-color;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  .header__logo img {
    width: 70%;
  }
  .header__flex {
    @include d-flex();
    align-items: center;
    justify-content: space-between;
  }
  &__menu {
    @include d-flex();
    align-items: center;
  }
  &__nav {
    font-size: 26px;
    padding: 15px 0;
    color: #fff;
    cursor: pointer;
  }
  &__menu-mobile {
    position: absolute;
    width: 100%;
    left: -2000px;
    @include transition();
  }
  &__menu-icon svg {
    color: #fff;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
  }
  &__menu-icon {
    @include d-flex();
    align-items: center;
  }
  &__contact {
    position: fixed;
    top: 0;
    right: -405px;
    width: 405px;
    height: 100%;
    min-height: 100%;
    padding: 66px 65px 36px;
    background-color: #0a090a;
    text-align: left;
    overflow: hidden;
    visibility: hidden;
    box-sizing: border-box;
    box-shadow: -3px 0 3px #0000000a;
    @include transition();
    z-index: 1001;
  }
  &__contact-close {
    position: absolute;
    top: 52px;
    color: $main-color;
    z-index: 1002;
    right: 50px;
    font-size: 35px;
    cursor: pointer;
    @include transition();
    &:hover {
      color: $hover-color;
    }
  }
  &__contact-logo {
    margin: 45px 50px 95px 50px;
  }
  &__contact-search {
    border: 1px solid #999;
    height: 52px;
    button,
    input {
      background-color: transparent;
      float: left;
      line-height: 52px;
      border: none;
      color: #999;
    }
    button {
      width: 50px;
      padding: 0;
      text-align: center;
      cursor: pointer;
      @include transition();
      &:hover {
        color: $hover-color;
      }
    }
    input {
      width: calc(100% - 50px);
      padding: 0 0 0 20px;
    }
  }
  &__contact-contact,
  &__contact-follow {
    padding-top: 50px;
    text-align: center;
    h2 {
      font-size: 18px;
      color: #fff;
    }
    a {
      color: #999;
      &:hover {
        color: $hover-color;
      }
    }
  }
  &__contact-follow svg {
    font-size: 20px;
    margin: 20px 15px;
  }
}
.shopping-bag-group {
  position: relative;
  span {
    position: absolute;
    top: -2px;
    left: 19px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #fff;
    color: #333132;
    font-size: 11px;
    line-height: 16px;
    text-align: center;
  }
}

// for menu desktop
.menu-main li.scroll > a {
  color: #fff;
  &:hover {
    color: $hover-color;
  }
}
.menu-main li {
  float: left;
  position: relative;
  text-align: center;
  width: 100px;
  a {
    color: #999;
    padding: 0px 12px 0px 12px;
    line-height: 50px;
    display: block;
    font-size: 13px;
    &:hover {
      color: $hover-color;
    }
  }
  span {
    position: absolute;
    top: 0px;
    left: 180px;
    line-height: 50px;
    &:hover {
      color: $hover-color;
    }
  }
}

.menu-main ul {
  display: none;
  flex-direction: column;
  width: 200px;
  position: absolute;
  background-color: #1e1e1ef2;
  left: 24px;
}
.menu-main ul a {
  width: 200px;
  text-align: start;
}
.menu-main ul ul {
  display: none;
  position: absolute;
  flex-direction: column;
  left: 200px;
  top: 0;
}

// for menu tablet and mobile

.menu-main-mobile {
  padding: 15px;
  background-color: #000;
  h1 {
    color: $main-color;
    font-size: 22px;
    border-bottom: 1px solid $hover-color;
  }
  a {
    color: #999;
    font-size: 16px;
  }
  li {
    position: relative;
    z-index: 10;
    padding: 10px 0;
  }
  li span {
    position: absolute;
    left: 0;
    z-index: 11;
    padding-left: 100%;
  }
}
.menu-main-mobile ul {
  padding-left: 10px;
  display: none;
}
// for footer ---------------------------------->
.footer {
  text-align: center;
  background-color: #333132;
  &__main {
    padding: 115px 0 30px;
    h2 {
      font-size: 18px;
      font-weight: 500;
    }
    a {
      color: #999;
      @include transition();
      &:hover {
        color: $hover-color;
      }
    }
  }
  &__contact-icon {
    svg {
      font-size: 30px;
      cursor: pointer;
      &:hover {
        color: $hover-color;
      }
    }
  }
  .vintage {
    h1 {
      color: $hover-color;
      font-size: 30px;
      font-weight: 700;
    }
    p {
      padding: 5px 0 50px;
      font-size: 14px;
    }
    &__icon {
      img {
        padding: 0 10px;
        width: auto;
      }
    }
    padding-bottom: 40px;
  }
  span {
    font-size: 12px;
    color: #858485;
    padding-top: 40px;
  }
  &__search {
    @include center();
    position: relative;

    input {
      height: 56px;
      background-color: transparent;
      padding-left: 10px;
      border: 1px solid #716f70;
      color: #716f70;
      width: 80%;
    }
    button {
      height: 56px;
      border: 1px solid #716f70;
      background-color: transparent;
      color: #fff;
      width: 55px;
      @include transition();
      &:hover {
        background-color: $hover-color;
      }
    }
    label.error {
      position: absolute;
      top: 50%;
      left: 50%;
      @include error-validate();
      transform: translate(-50%, 100%);
    }
  }
  &__social {
    svg {
      font-size: 25px;
    }
    padding: 30px 0;
    a {
      color: #716f70;
      padding: 0 10px;
      @include transition();
      &:hover {
        color: $hover-color;
      }
    }
  }
  &__contact-icon {
    padding-bottom: 40px;
  }
}

// fresh
.home-fresh {
  background-image: url(../images/home/home-01.jpeg);
  object-fit: cover;
  height: 445px;
  width: 100%;
  @include center();
  flex-direction: column;
  h1 {
    font-size: 35px;
    color: #fff;
  }
  p {
    font-size: 18px;
    color: #fff;
    margin: 20px 0 40px;
  }
  button {
    background-color: $main-color;
    color: #fff;
    border: none;
    padding: 10px 20px;
    @include transition();
    &::after {
      padding-left: 5px;
      content: "\f178";
      font-family: "Font Awesome 5 Pro";
    }
    &:hover {
      opacity: 0.8;
    }
  }
}

.home-contact {
  margin-top: 500px;
  h3 {
    font-size: 16px;
    color: #000;
  }
}
.contact__info-top {
  h1 {
    font-size: 26px;
    color: #000;
  }
  p {
    padding-bottom: 30px;
  }
}
