@import "./mixin.scss";

html {
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Nunito Sans", sans-serif;
  color: #999;
  font-size: 15px;
  line-height: 27px;
  font-weight: 400;
  height: 2000px;
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  &:focus {
    outline: none;
  }
}
ul {
  list-style: none;
  margin-bottom: 0;
}
img:focus {
  outline: none;
}
p {
  margin-bottom: 0;
}
input:focus,
button:focus {
  outline: none;
}

// for header
.header {
  // header menu desktop
  #logo-home-1 {
    display: block;
  }
  #logo-home-2 {
    display: none;
  }
  &__menu {
    background-color: $main-color;
  }
  &__menu--desktop {
    img {
      height: 30px;
    }
  }
  &__center {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
  }
  .menu__icon {
    @include d-flex;
    align-items: center;
    color: #fff;
    svg {
      font-size: 20px;
      margin: 0 10px;
      cursor: pointer;
    }
  }
  .menu__icon-cart {
    position: relative;

    a {
      color: #fff;
    }
  }
  .menu__icon-count {
    background-color: #fff;
    height: 15px;
    width: 15px;
    @include border-radius(50%);
    text-align: center;
    font-size: 12px;
    color: #999;
    position: absolute;
    top: -4px;
    left: 20px;
    @include center;
  }
}
.menu__flex {
  @include d-flex();
  align-items: center;
}
.menu__list ul {
  position: absolute;
  top: 42px;
  left: 0;
  display: none;
  background-color: #1e1e1ef2;
  li {
    width: 150px;
    a {
      color: #999;
    }
  }
}

.menu__list {
  .menu_2nd-none:hover a {
    color: $hover-color;
  }
  li {
    float: left;
    width: 100px;
    line-height: 1.5em;
    position: relative;

    padding: 15px;
    font-size: 13px;
    a {
      color: #fff;
    }
    &:hover {
      cursor: pointer;
    }
  }
}
.menu__list ul ul {
  left: 150px;
  top: 0;
}
.menu__list ul ul.a1 {
  display: block;
}
.menu__list .menu_2nd {
  display: flex;
  justify-content: space-between;
  &:hover,
  &:hover a {
    color: $hover-color;
  }
}
.menu__list .menu_2nd::after {
  content: "\f054";
  font-family: "Font Awesome 5 Pro";
}

// for footer
.footer {
  text-align: center;
  background-color: #333132;
  &__main {
    padding: 80px 0 30px;
    h2 {
      font-size: 18px;
      font-weight: 500;
    }
  }
  &__contact-icon {
    svg {
      font-size: 30px;
      cursor: pointer;
      &:hover {
        color: $hover-color;
      }
    }
  }
  .vintage {
    h1 {
      color: $hover-color;
      font-size: 30px;
      font-weight: 700;
    }
    p {
      padding: 30px 0 50px;
      font-size: 14px;
    }
    &__icon {
      img {
        padding: 0 10px;
      }
    }
    padding-bottom: 40px;
  }
  span {
    font-size: 12px;
    color: #858485;
    padding-top: 40px;
  }
  &__search {
    @include center();
    position: relative;

    input {
      height: 56px;
      background-color: transparent;
      padding-left: 10px;
      border: 1px solid #716f70;
      color: #716f70;
      width: 80%;
    }
    button {
      height: 56px;
      border: 1px solid #716f70;
      background-color: transparent;
      color: #fff;
      width: 55px;
      @include transition();
      &:hover {
        background-color: $hover-color;
      }
    }
    label.error {
      position: absolute;
      top: 55px;
      left: 19px;
      @include error-validate();
    }
  }
  &__social {
    svg {
      font-size: 25px;
    }
    padding: 30px 0;
    a {
      color: #716f70;
      padding: 0 10px;
      @include transition();
      &:hover {
        color: $hover-color;
      }
    }
  }
}
