@import "./mixin.scss";

// html {
//   scroll-behavior: smooth;
// }
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Nunito Sans", sans-serif;
  color: #999;
  font-size: 15px;
  line-height: 27px;
  font-weight: 400;
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  &:focus {
    outline: none;
  }
}
ul {
  list-style: none;
  margin-bottom: 0;
}
img {
  width: 100%;
  &:focus {
    outline: none;
  }
}

p {
  margin-bottom: 0;
}
select {
  /*for firefox*/
  -moz-appearance: none;
  /*for chrome*/
  -webkit-appearance: none;
  appearance: none;
}
/*for IE10+*/
select::-ms-expand {
  display: none;
}

input:focus,
button:focus,
textarea:focus,
.slick-slide:focus,
select:focus {
  outline: none;
}
label {
  margin-bottom: 0;
}

// for header ---------------------------------->
#logo-home-2 {
  display: none;
}
.header {
  background-color: $main-color;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0px 0px 10px 0px;
  .header__logo img {
    width: 70%;
  }
  .header__flex {
    @include d-flex();
    align-items: center;
    justify-content: space-between;
  }
  &__menu {
    @include d-flex();
    align-items: center;
  }
  &__nav {
    font-size: 26px;
    padding: 15px 0;
    color: #fff;
    cursor: pointer;
  }
  &__menu-mobile {
    position: absolute;
    width: 100%;
    left: -2000px;
    @include transition();
  }
  &__menu-icon svg {
    color: #fff;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
  }
  &__menu-icon {
    @include d-flex();
    align-items: center;
  }
  &__contact {
    position: fixed;
    top: 0;
    right: -405px;
    width: 405px;
    height: 100%;
    min-height: 100%;
    padding: 66px 55px 36px;
    background-color: #0a090a;
    text-align: left;
    overflow: hidden;
    visibility: hidden;
    box-sizing: border-box;
    box-shadow: -3px 0 3px #0000000a;
    @include transition();
    z-index: 1001;
  }
  &__contact-close {
    position: absolute;
    top: 52px;
    color: $main-color;
    z-index: 1002;
    right: 50px;
    font-size: 35px;
    cursor: pointer;
    @include transition();
    &:hover {
      color: $hover-color;
    }
  }
  &__contact-logo {
    margin: 45px 50px 95px 50px;
  }
  &__contact-search {
    border: 1px solid #999;
    height: 52px;
    button,
    input {
      background-color: transparent;
      float: left;
      line-height: 52px;
      border: none;
      color: #999;
    }
    button {
      width: 50px;
      padding: 0;
      text-align: center;
      cursor: pointer;
      @include transition();
      &:hover {
        color: $hover-color;
      }
    }
    input {
      width: calc(100% - 50px);
      padding: 0 0 0 20px;
    }
  }
  &__contact-contact,
  &__contact-follow {
    padding-top: 50px;
    text-align: center;
    h2 {
      font-size: 18px;
      color: #fff;
    }
    a {
      color: #999;
      &:hover {
        color: $hover-color;
      }
    }
  }
  &__contact-follow svg {
    font-size: 20px;
    margin: 20px 15px;
  }
}
.shopping-bag-group {
  position: relative;
  span {
    position: absolute;
    top: -2px;
    left: 19px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #fff;
    color: #333132;
    font-size: 11px;
    line-height: 16px;
    text-align: center;
  }
}

// for menu desktop
.menu-main li.scroll > a {
  color: #fff;
  &:hover {
    color: $hover-color;
  }
}
.menu-main li {
  float: left;
  position: relative;
  text-align: center;
  width: 100px;
  a {
    color: #fff;
    padding: 0px 12px 0px 12px;
    line-height: 50px;
    display: block;
    font-size: 13px;
    &:hover {
      color: $hover-color;
    }
  }
  span {
    position: absolute;
    top: 0px;
    left: 180px;
    line-height: 50px;
    &:hover {
      color: $hover-color;
    }
  }
}

.menu-main ul {
  display: none;
  flex-direction: column;
  width: 200px;
  position: absolute;
  background-color: #1e1e1ef2;
  left: 24px;
}
.menu-main ul a {
  width: 200px;
  text-align: start;
}
.menu-main ul ul {
  display: none;
  position: absolute;
  flex-direction: column;
  left: 200px;
  top: 0;
}

// for menu tablet and mobile

.menu-main-mobile {
  padding: 15px;
  background-color: #000;
  h1 {
    color: $main-color;
    font-size: 22px;
    border-bottom: 1px solid $hover-color;
  }
  a {
    color: #999;
    font-size: 16px;
  }
  li {
    position: relative;
    z-index: 10;
    padding: 10px 0;
  }
  li span {
    position: absolute;
    left: 0;
    z-index: 11;
    padding-left: 98%;
  }
}
.menu-main-mobile ul {
  padding-left: 10px;
  display: none;
}
// for footer ---------------------------------->
.footer {
  text-align: center;
  background-color: #333132;
  &__main {
    padding: 60px 0 30px;
    h2 {
      font-size: 18px;
      font-weight: 500;
    }
    a {
      color: #999;
      @include transition();
      &:hover {
        color: $hover-color;
      }
    }
  }
  &__contact-icon {
    svg {
      font-size: 30px;
      cursor: pointer;
      &:hover {
        color: $hover-color;
      }
    }
  }
  .vintage {
    h1 {
      color: $hover-color;
      font-size: 30px;
      font-weight: 700;
    }
    p {
      padding: 5px 0 50px;
      font-size: 14px;
    }
    &__icon {
      img {
        padding: 0 10px;
        width: auto;
      }
    }
    padding-bottom: 40px;
  }
  span {
    font-size: 12px;
    color: #858485;
    padding-top: 40px;
  }
  &__search {
    @include center();
    position: relative;

    input {
      height: 56px;
      background-color: transparent;
      padding-left: 10px;
      border: 1px solid #716f70;
      color: #716f70;
      width: 80%;
    }
    button {
      height: 56px;
      border: 1px solid #716f70;
      background-color: transparent;
      color: #fff;
      width: 55px;
      @include transition();
      &:hover {
        background-color: $hover-color;
      }
    }
    label.error {
      position: absolute;
      top: 50%;
      left: 50%;
      @include error-validate();
      transform: translate(-50%, 100%);
    }
  }
  &__social {
    svg {
      font-size: 25px;
    }
    padding: 30px 0;
    a {
      color: #716f70;
      padding: 0 10px;
      @include transition();
      &:hover {
        color: $hover-color;
      }
    }
  }
  &__contact-icon {
    padding-bottom: 40px;
  }
}

// fresh
.home-fresh {
  background-image: url(../images/home/home-01.jpeg);
  object-fit: cover;
  height: 445px;
  width: 100%;
  @include center();
  flex-direction: column;
  h1 {
    font-size: 35px;
    color: #fff;
  }
  p {
    font-size: 18px;
    color: #fff;
    margin: 20px 30px 40px 30px;
    text-align: justify;
  }
  button {
    background-color: $main-color;
    color: #fff;
    border: none;
    padding: 10px 20px;
    @include transition();
    &::after {
      padding-left: 5px;
      content: "\f178";
      font-family: "Font Awesome 5 Pro";
    }
    &:hover {
      opacity: 0.8;
    }
  }
}

.home-contact {
  h3 {
    font-size: 16px;
    color: #000;
  }
}
.contact__info-top {
  h1 {
    font-size: 26px;
    color: #000;
  }
  p {
    padding-bottom: 30px;
  }
}
.contact__info-bottom {
  padding: 30px 0;
  svg {
    color: #999;
    margin-right: 15px;
    &:hover {
      color: $hover-color;
    }
  }
}
.form-contact {
  padding-bottom: 30px;
  input,
  textarea {
    width: 100%;
    padding-left: 10px;
    margin-bottom: 15px;
    @include border-color();
    color: #999;
  }
  input {
    height: 56px;
  }
  textarea {
    height: 100px;
  }
  button {
    background-color: $main-color;
    color: #fff;
    padding: 10px 25px;
    border: none;
    font-size: 12px;
    letter-spacing: 1px;
    @include transition();
    width: 100%;
    &:hover {
      background-color: $hover-color;
    }
  }
  label.error {
    @include error-validate();
  }
}

// for home image mxh
.home-mxh {
  padding-bottom: 70px;
  .remove-padding {
    padding-left: 0;
    padding-right: 0;
  }
  img {
    width: 100%;
  }
}

// for home wellcome
.home-wellcome {
  background-image: url(../images/wellcome.jpg);
  background-position: center;
  object-fit: cover;
  padding: 70px 0;
  h2 {
    font-size: 35px;
    color: #000;
  }
  p {
    text-align: justify;
  }
  .home-tabs {
    a {
      width: 100%;
      padding: 10px 20px;
      background-color: #f7f7f7;
      font-size: 13px;
      color: #999;
      margin: 3px 0;
    }
    a.active {
      background-color: $main-color;
      color: #fff;
    }
    .nav-tabs {
      border-bottom: none;
    }
  }
}

// for home testimonial
.home-testimonial {
  background-image: url(../images/testimonial/testimonial-bg.jpeg);
  padding: 40px 0;
  text-align: center;
  h1 {
    color: #fff;
    font-size: 42px;
  }
  p {
    font-size: 18px;
    color: #fff;
  }
}
.testimonial {
  padding-top: 50px;
  &__item {
    background-color: #fff;
    padding: 40px 45px 56px 55px;
  }
  &__desc {
    p {
      color: #999;
      font-size: 15px;
      text-align: start;
    }
  }
  &__person {
    padding-top: 20px;
  }
  &__person-image,
  &__person-author {
    width: auto;
    display: table-cell;
    vertical-align: middle;
  }
  &__person-author {
    padding-left: 15px;
    text-align: left;
    h5 {
      color: #000;
      font-size: 16px;
    }
    h6 {
      position: relative;
      display: block;
      padding-top: 7px;
      margin: 7px 0 0;
      color: #999;
      &::after {
        position: absolute;
        content: "";
        top: 0;
        left: 1px;
        width: 50px;
        height: 1px;
        background-color: #1e1e1e;
      }
    }
  }
  .slick-slide {
    margin: 0 15px;
  }
}

// for introduce your style
.introduce {
  animation: aniName 1s;
  -moz-animation: aniName 1s;
  -webkit-animation: aniName 1s;
  -o-animation: aniName 1s;
  position: relative;
  padding: 50px 0;
  &__title {
    h3 {
      font-size: 25px;
      color: #000;
      line-height: 40px;
      position: relative;
      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        content: "";
        width: 100px;
        height: 2px;
        background-color: $main-color;
      }
    }
  }
  &__desc {
    padding-top: 15px;
  }
}

// for masonry
.grid-item,
.grid-item-2 {
  position: relative;
  cursor: pointer;
}
.grid-item {
  width: 25%;
  &:hover .grid-hover {
    opacity: 1;
  }
}
.grid-item-2 {
  width: 50%;
  &:hover .grid-hover {
    opacity: 1;
  }
}
.grid-hover {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  padding: 20px;
  text-align: center;
  background-color: #1e1e1e66;
  @include transition();
  opacity: 0;
  .grid-hover__text {
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    h3,
    a {
      color: #fff;
    }
    h3 {
      font-size: 16px;
    }
    a {
      font-style: italic;
      @include transition();
      font-size: 14px;
      &:hover {
        color: $hover-color;
      }
    }
  }
}

// for home icons group
.home-icons-group {
  animation: aniName 1s;
  -moz-animation: aniName 1s;
  -webkit-animation: aniName 1s;
  -o-animation: aniName 1s;
  position: relative;
}
.home__icon {
  text-align: center;
  padding: 30px 15px;
  img {
    width: 112px;
    padding-bottom: 15px;
  }
  h2 {
    font-size: 16px;
    line-height: 19px;
    color: #000;
  }
  p {
    font-size: 15px;
  }
}
.home__icon-line {
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  height: 1px;
  margin: 2px 0 0;
  background-color: #1e1e1e;
}

// for home filter
.home-filter__item {
  svg {
    position: absolute;
    top: 35px;
    right: 15px;
  }
}
.home-filter-inner {
  padding: 30px;
  margin-bottom: 30px;
  button {
    width: 100%;
    padding: 10px 25px;
    background-color: $main-color;
    color: #fff;
    border: none;
    margin-top: 15px;
    &:hover {
      background-color: $hover-color;
    }
  }
}
.home-filter {
  &__item {
    // text-align: center;
    padding-bottom: 10px;
    span {
      position: relative;
      width: 100%;
      label {
        color: #999;
        font-size: 11px;
        text-transform: uppercase;
      }
      input,
      select {
        height: 42px;
        padding: 0 0 0 15px;
        line-height: 42px;
        border: 1px solid #d0d0d0;
        width: 100%;
        color: #999;
        font-size: 14px;
      }
    }
    span.has-calendar::after {
      position: absolute;
      bottom: -3px;
      right: 11px;
      font-family: "Font Awesome 5 Pro";
      z-index: 0;
      content: "\f073";
      font-size: 20px;
      color: $main-color;
    }
  }
}

// for banner
.banner {
  &__item {
    position: relative;
    img {
      width: auto;
    }
  }
  &__item-text {
    color: #fff;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    h1 {
      font-family: "Pacifico", cursive;
      font-size: 39px;
      animation: aniName 1s;
      -moz-animation: aniName 1s;
      -webkit-animation: aniName 1s;
      -o-animation: aniName 1s;
      position: relative;
    }
  }
  .slick-next {
    right: 100px;
  }
  .slick-prev {
    left: 100px;
  }
  .slick-prev:before,
  .slick-next:before {
    font-size: 50px;
  }
}

// for span arrows
#span-1,
#span-2,
#span-3,
#span-4,
#span-5,
#span-6,
#span-7 {
  color: #999;
  &:hover {
    color: $hover-color;
  }
}

// key frame
@keyframes aniName {
  0% {
    top: 200px;
  }
  100% {
    top: 0px;
  }
}

@-moz-keyframes aniName {
  0% {
    top: 200px;
  }
  100% {
    top: 0px;
  }
}

@-webkit-keyframes aniName {
  0% {
    top: 200px;
  }
  100% {
    top: 0px;
  }
}

@-o-keyframes aniName {
  0% {
    top: 200px;
  }
  100% {
    top: 0px;
  }
}

// key frame for about
